upstream php-handler {
{% for item in  groups[ansible_backend_group_name] %}
    server {{ item }}:{{ conf_php_port }};
{% endfor %}
}

server {
	listen 80 default_server;
	listen [::]:80 default_server;


	root {{ conf_site_doc_root }};

	index index.html index.htm index.nginx-debian.html index.php;

	server_name _;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	# pass PHP scripts to FastCGI server
	#
	location ~ \.php$ {
		include snippets/{{ nginx_site_fpm_snip }};
	
		fastcgi_pass php-handler;
	}

	# deny access to .htaccess files, if Apache's document root
	# concurs with nginx's one
	#
	#location ~ /\.ht {
	#	deny all;
	#}
}
