upstream php-handler {
{% for item in  groups[ansible_backend_group_name] %}
    server {{ item }}:{{ conf_php_port }};
{% endfor %}
}

server {
	listen 80 default_server;

	root {{ conf_site_doc_root }};
	server_name _;

       index index.php;

        location / {
                include snippets/fastcgi-php-remote.conf;
                fastcgi_pass php-handler;
        }
}
